VITE_FIREBASE_API_KEY=AIzaSyBfwrVvefaBsOoOHbU-QPrdTNZYqqk6PdA
VITE_FIREBASE_AUTH_DOMAIN=dewaniya-b9c7f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dewaniya-b9c7f
VITE_FIREBASE_STORAGE_BUCKET=dewaniya-b9c7f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=127736942100
VITE_FIREBASE_APP_ID=1:127736942100:web:914c5929ffcff860d0e101
